@font-face {
  font-family: 'PatrickHand';
  src: local('PatrickHand'), url(./font/PatrickHand-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'PatrickHand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
